In [1]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('Cafe_sales.csv')

# Display the DataFrame
print(df)

     Transaction ID      Item  Quantity  Price Per Unit  Total Spent  \
0       TXN_1961373    Coffee       2.0             2.0          4.0
1       TXN_4977031      Cake       4.0             3.0         12.0
2       TXN_4271903    Cookie       4.0             1.0          NaN
3       TXN_7034554     Salad       2.0             5.0         10.0
4       TXN_3160411    Coffee       2.0             2.0          4.0
...             ...       ...       ...             ...          ...
9995    TXN_7672686    Coffee       2.0             2.0          4.0
9996    TXN_9659401       NaN       3.0             NaN          3.0
9997    TXN_5255387    Coffee       4.0             2.0          8.0
9998    TXN_7695629    Cookie       3.0             NaN          3.0
9999    TXN_6170729  Sandwich       3.0             4.0         12.0

      Payment Method  Location Transaction Date
0        Credit Card  Takeaway       08/09/2023
1               Cash  In-store       16/05/2023
2        Credit Card  In-store       19/07/2023
3                NaN       NaN       27/04/2023
4     Digital Wallet  In-store       11/06/2023
...              ...       ...              ...
9995             NaN       NaN       30/08/2023
9996  Digital Wallet       NaN       02/06/2023
9997  Digital Wallet       NaN       02/03/2023
9998  Digital Wallet       NaN       02/12/2023
9999            Cash  In-store       07/11/2023

[10000 rows x 8 columns]

In [2]:
# Count the blank values per column
blank_values = df.isnull().sum()

# Display the count of blank values per column
print(blank_values)

Transaction ID         0
Item                 969
Quantity             479
Price Per Unit       533
Total Spent          502
Payment Method      3178
Location            3961
Transaction Date     460
dtype: int64

In [3]:
# Remove rows with blank values in the 'Payment Method' column
df_cleaned = df.dropna(subset=['Payment Method'])

# Display the DataFrame after removing rows with blank values in the 'Payment Method' column
print(df_cleaned)

     Transaction ID      Item  Quantity  Price Per Unit  Total Spent  \
0       TXN_1961373    Coffee       2.0             2.0          4.0
1       TXN_4977031      Cake       4.0             3.0         12.0
2       TXN_4271903    Cookie       4.0             1.0          NaN
4       TXN_3160411    Coffee       2.0             2.0          4.0
5       TXN_2602893  Smoothie       5.0             4.0         20.0
...             ...       ...       ...             ...          ...
9993    TXN_4766549  Smoothie       2.0             4.0          NaN
9996    TXN_9659401       NaN       3.0             NaN          3.0
9997    TXN_5255387    Coffee       4.0             2.0          8.0
9998    TXN_7695629    Cookie       3.0             NaN          3.0
9999    TXN_6170729  Sandwich       3.0             4.0         12.0

      Payment Method  Location Transaction Date
0        Credit Card  Takeaway       08/09/2023
1               Cash  In-store       16/05/2023
2        Credit Card  In-store       19/07/2023
4     Digital Wallet  In-store       11/06/2023
5        Credit Card       NaN       31/03/2023
...              ...       ...              ...
9993            Cash       NaN       20/10/2023
9996  Digital Wallet       NaN       02/06/2023
9997  Digital Wallet       NaN       02/03/2023
9998  Digital Wallet       NaN       02/12/2023
9999            Cash  In-store       07/11/2023

[6822 rows x 8 columns]